:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --swiper-theme-color: #04293A;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #041C32;
  color: #ECB365;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 550px) {
  body {
    padding: 20px 0;
  }
}

@media (orientation: landscape) and (max-width: 900px) {
  body {
    padding: 20px 0;
  }
}

.swiper {
  padding: 0 20px;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next {
  right: 0px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.swiper-slide > img {
  width: 60px;
}

.swiper-pagination {
  position: relative;
  margin-top: 20px;
}

